html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 50px;
}

body {
	font-family: var(--ff);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width:
		calc(
			var(--container-width) + 
			(var(--container-padding) * 2)
		)
	;
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--container-padding);
}

.title{
	font-size: var(--size-50);
	font-weight: 500;
	letter-spacing: 0.04em;

	&_light {
		color: #fff;
	}

	&_dark{
		color: var(--color-dark);
	}
}

.bg-brown {
	background-color: var(--color-brown);
}