html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 50px;
}

body {
	font-family: var(--ff);
	background-color: #ecedea;
}

button {
	outline: none;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width:
		calc(var(--container-width) + (var(--container-padding) * 2));
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--container-padding);

	&_min {
		max-width: calc(59.90vw + (var(--container-padding) * 2));
		width: 100%;
		margin: 0 auto;
		padding: 0 var(--container-padding);
	}

	&_left {
		max-width: 100%;
		width: 100%;
		padding-left:
			calc((100% - var(--container-width)) / 2);
	}
}


.title {
	font-size: var(--size-50);
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0.04em;

	&_light {
		color: #fff;
	}

	&_dark {
		color: var(--color-dark);
	}
}

.bg-brown {
	background-color: var(--color-brown);
}

.badges {
	max-width: max-content;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.31vw;

	font-size: var(--size-16);
	color: var(--color-dark);
	font-weight: light;
	color: var(--color);
	letter-spacing: 0.02em;

	border-radius: 30px;
	padding: .31vw 0.8vw .31vw .21vw;
	border: 1px solid var(--border-color);
	// .badges_dark

	&_dark {
		--border-color: var(--color-gray);
		--color: var(--color-dark);
	}

	&_light {
		--border-color: #8a8381;
		--color: #fff;
	}

	// .badges__parent

	&__parent {
		&_border {
			border-bottom: 1px solid #d2cfc4;
		}

		&_pb {
			padding-bottom: 2.24vw;
		}

		&_mb {
			margin-bottom: 2.08vw;
		}
	}

	// .badges__icon

	&__icon {
		width: 0.94vw;
		height: 0.94vw;
		border-radius: 50px;
		background-color: var(--color-orange);
	}
}

.card {
	position: relative;

	// .card__list
	a {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
		grid-gap: 3.4vw 1.04vw;

		padding-left: 0px;
	}

	// .card__info

	&__info {
		max-width: 100%;
		width: 100%;

		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		padding: 0.47vw 0.73vw 0vw 0.5vw;
	}

	&__new {
		font-size: 0.52vw;
		color: #fff;
		background-color: #ba6a80;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 100%;

		padding: 0.3vw 0.3vw 0.25vw;
		border-radius: .1vw;
		margin-top: 0.16vw;
	}

	// .card__id

	&__id {
		font-size: var(--size-14);
		font-weight: 300;
		color: #8c8682;

		margin-left: auto;
		margin-right: 0;
	}

	// .card__img

	&__img {
		display: block;
		max-width: 100%;
		width: 100%;
		height: 29.9vw;
		margin-bottom: 1.04vw;

		img {
			max-width: 100%;
			width: 100%;
			height: 100%;

			object-fit: cover;
			object-position: center;
		}
	}

	// .card__name

	&__name {
		font-size: var(--size-21);
		font-weight: 400;
		color: #292321;
		margin-bottom: 0.52vw;
	}

	// .card__description

	&__description {
		font-size: var(--size-16);
		font-weight: 300;
		color: #8c8682;
		margin-bottom: 0.83vw;
	}

	// .card__price

	&__price {
		font-size: var(--size-21);
		font-weight: 400;
		color: #292321;

		display: block;
		margin-top: auto;
		margin-bottom: 0;
	}

	// .card__new
}

.btn {
	max-width: max-content;
	width: 100%;

	font-weight: 400;
	font-size: var(--size-16);
	color: white;
	background-color: var(--color-orange);
	border-radius: 50px;
	padding: 1vw;

	transition: opacity var(--transition);
}