@media (hover: hover) {

    .footer__nav-link:hover,
    .footer__item-link:hover,
    .header__nav-item-link:hover,
    .header__phone:hover,
    a.footer__text:hover,
    .catalog__filter-reset:hover,
    .breadcrumbs__item a:hover,
    .detail__info-link:hover {
        color: var(--color-orange);
    }

    .footer__files-item:hover {

        .footer__files-item-name,
        .footer__files-item-format {
            color: var(--color-orange);
        }

        .footer__files-item-format {
            opacity: .7;
        }
    }

    .main-slider__slider-btn:hover {
        opacity: 0.8;
    }

    .catalog__filter-accordion-top:hover {
        color: var(--color-dark);

        .catalog__filter-accordion-top-icon svg line {
            stroke: var(--color-dark);
        }
    }

    .btn:hover {
        opacity: 0.8;
    }

    .detail__filter-button:hover {
        color: var(--color-dark);
    }

    .modal__btn-close:hover {
        svg line {
            stroke: var(--color-orange);
        }
    }

    .modal__form-checkout-text:hover a {
        color: var(--color-orange);
    }

    .contact__item-link:hover {
        color: var(--color-orange);
    }

    .contact__item.btn-callback:hover {
        background-color: var(--color-orange);

        .contact__item-title,
        .contact__item-text {
            color: white;
        }
    }

    .main-slider__slide:hover {
        .main-slider__slide-name {
            color: var(--color-orange);
        }

        .main-slider__slide-picture img {
            transform: scale(1.02);
        }
    }

    .about__creator-icon:hover {
        rect {
            fill: rgb(199 113 81);
        }
    }

    .catalog__filter-accordion:hover {
        .catalog__filter-accordion-body {
            height: max-content;
            transform: rotateX(0deg);
            opacity: 1;
        }

        .catalog__filter-accordion-top {
            color: var(--color-dark);
        }

        .catalog__filter-accordion-top-icon svg line {
            stroke: var(--color-dark);
        }
    }

    .catalog__section-item:hover .catalog__section-item-img img{
        transform: scale(1.02);
    }
}

@media (hover: none) {

    .footer__nav-link:active,
    .footer__item-link:active,
    .header__nav-item-link:active,
    .header__phone:active,
    a.footer__text:active,
    .catalog__filter-reset:active,
    .breadcrumbs__item a:active,
    .detail__info-link:active {
        color: var(--color-orange);
    }

    .main-slider__slider-btn:active {
        opacity: 0.8;
    }

    .catalog__filter-accordion-top:active {
        color: var(--color-dark);

        .catalog__filter-accordion-top-icon svg line {
            stroke: var(--color-dark);
        }
    }

    .btn:active {
        opacity: 0.8;
    }

    .detail__filter-button:active {
        color: var(--color-dark);
    }

    .modal__btn-close:active {
        svg line {
            stroke: var(--color-orange);
        }
    }

    .modal__form-checkout-text:active a {
        color: var(--color-orange);
    }

    .contact__item-link:active {
        color: var(--color-orange);
    }

    .contact__item.btn-callback:active {
        background-color: var(--color-orange);

        .contact__item-title,
        .contact__item-text {
            color: white;
        }
    }

    .main-slider__slide:active {
        .main-slider__slide-name {
            color: var(--color-orange);
        }

        .main-slider__slide-picture img {
            transform: scale(1.02);
        }
    }

    .about__creator-icon:hover {
        rect {
            fill: rgb(199 113 81);
        }
    }

    .catalog__section-item:hover .catalog__section-item-img img{
        transform: scale(1.02);
    }
}