@media (hover: hover) {
    .footer__nav-link:hover,
    .footer__item-link:hover,
    .header__nav-item-link:hover,
    .header__phone:hover,
    a.footer__text:hover,
    .catalog__filter-reset:hover,
    .breadcrumbs__item a:hover {
        color: var(--color-orange);
    }

    .footer__files-item:hover{
        .footer__files-item-name,
        .footer__files-item-format{
            color: var(--color-orange);
        }

        .footer__files-item-format{
            opacity: .7;
        }
    }
    .main-slider__slider-btn:hover {
        opacity: 0.8;
    }
    .catalog__filter-accordion-top:hover{
        color: var(--color-dark);

        .catalog__filter-accordion-top-icon svg line{
            stroke: var(--color-dark);
        }
    }

    .btn:hover {
        opacity: 0.8;
    }
    .detail__filter-button:hover {
        color: var(--color-dark);
    }
}

@media (hover: none) {
    .footer__nav-link:active,
    .footer__item-link:active,
    .header__nav-item-link:active,
    .header__phone:active,
    a.footer__text:active,
    .catalog__filter-reset:active,
    .breadcrumbs__item a:active {
        color: var(--color-orange);
    }
    .main-slider__slider-btn:active {
        opacity: 0.8;
    }
    .catalog__filter-accordion-top:active{
        color: var(--color-dark);

        .catalog__filter-accordion-top-icon svg line{
            stroke: var(--color-dark);
        }
    }
    .btn:active {
        opacity: 0.8;
    }

    .detail__filter-button:active {
        color: var(--color-dark);
    }
}