<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="footer__bg">
                <img class="footer__big-logo" src="img/logo-footer.svg" alt="">
            </div>
            <nav class="footer__nav">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#!">
                            <sup>01.</sup>
                            <span>Продукция</span>
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#!">
                            <sup>02.</sup>
                            <span>О компании</span>
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#!">
                            <sup>03.</sup>
                            <span>Сервис</span>
                        </a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#!">
                            <sup>04.</sup>
                            <span>Контакты</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom container">
            <div class="footer__item">
                <p class="footer__item-title">Контакты</p>
                <div class="footer__item-bottom">
                    <div class="footer__item-col">
                        <a class="footer__item-link" href="tel:+79376009600">
                            +7 937 600 96 00
                        </a>
                        <a class="footer__item-link" href="mailto:info@tabira.com">
                            info@tabira.com
                        </a>
                        <address class="footer__item-address footer__text">г. Москва, 2-я Хуторская улица, 38Ас26
                        </address>
                    </div>
                </div>
            </div>
            <div class="footer__item">
                <p class="footer__item-title">Социальные сети и мессанджеры</p>
                <div class="footer__item-bottom">
                    <div class="footer__item-col footer__item-col_two">
                        <a class="footer__item-link" href="#!">Telegram</a>
                        <a class="footer__item-link" href="#!">VK</a>
                        <a class="footer__item-link" href="#!">WhatsApp</a>
                        <a class="footer__item-link" href="#!">Instagram</a>
                    </div>
                </div>
            </div>
            <div class="footer__item">
                <ul class="footer__files">
                    <li class="footer__files-item">
                        <a href="#!">
                            <span class="footer__files-item-name">Карта партнёра</span>
                            <span class="footer__files-item-format">.PDF</span>
                        </a>
                    </li>
                    <li class="footer__files-item">
                        <a href="#!">
                            <span class="footer__files-item-name">Политика конфиденциальности</span>
                            <span class="footer__files-item-format">.PDF</span>
                        </a>
                    </li>
                </ul>
                <div class="footer__item-bottom">
                    <div class="footer__item-col footer__item-col_two">
                        <p class="footer__text">2025 © «Табира» </p>
                        <a class="footer__text" href="#!">Разработно в OXBOX</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--=include modal.html-->