<header class="header header_fixed">
    <div class="header__inner container">
        <a class="header__logo" href="/">
            <img src="img/logo.png" alt="Тобира лого">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#!">Каталог</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#!">О компании</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#!">Сервис</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#!">Контакты</a>
                </li>
            </ul>
        </nav>
        <a class="header__phone" href="tel:+79376009600"> +7 937 600 96 00</a>
    </div>
</header>